* {
    margin: 0;
    box-sizing: border-box;
}

.head   {
    text-align: center;
    margin: 15px 0px 15px;
} 

#field {
    width: 640px;
    height: 640px;
    box-sizing: content-box;
    margin: 0 auto;
    border: 1px solid black;
}

.chess-block {
    width: 80px;
    height: 80px;
    float: left;
}

.bg-black {
    background: #050505;
}

.active {    
    background-color: green;    
}

.green {
    background:blue;
}


